@import "variables";

* {
  padding: 0%;
  margin: 0%;
}

.fuente {
  font-family: "Jost", sans-serif;
}

.fuenteSecundaria {
  font-family: "EB Garamond", serif;
}

.navIcon svg {
  color: rgb(39, 39, 39);
}

.navIcon svg:hover {
  color: $pinkMedium;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
  color: rgba(0, 0, 255, 0) !important;
}

.navbar-toggler {
  padding: 0.25rem 0rem !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem !important;
}

.toastify {
  font-family: "Jost", sans-serif;
}

/* Header y Nav */
.header {
  background-color: rgba(255, 255, 255, 0.705);

  nav {
    div {
      .tituloNav {
        position: absolute;
        text-decoration: none;
        left: 50%;
        transform: translateX(-50%);
        top: 0.6rem;
        color: $black;
        font-weight: 700;
      }
    }
  }
}

.hero {
  div {
    background-image: url(../assets/images/sand.jpg);
    background-size: cover;
    height: 30rem;
    h1 {
      font-weight: 700;
      color: $white;
      text-shadow: 3px 3px 5px $black;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      color: $pinkMedium;
      background-color: $white;
      padding: 0rem 0.4rem;
      border-radius: 0.2rem;
      transition: 0.2s ease;
      &:hover {
        color: $pinkHigh;
        box-shadow: 0px 0px 10px $pinkMedium;
      }
    }
  }
}
.galery {
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: $pinkHigh;
  p {
    margin-top: 1rem;
    font-weight: 600;
  }
  .images {
    img {
      width: 48%;
      margin: 0.1rem;
      border-radius: 0.1rem;
    }
  }
}
.frequentQuestions {
  margin-top: 1rem;
  padding: 1rem;
  background: $pinkHigh;
  color: $white;
  p {
    font-weight: 600;
  }
}
footer {
  .contact {
    color: $pinkHigh;
    padding: 2rem;
    p {
      font-weight: 600;
    }
    div {
      a {
        text-decoration: none;
        margin-right: 1rem;
        width: 2rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .newLetter {
    p {
      margin-top: 1rem;
      text-align: center;
      font-weight: 600;
      color: $pinkHigh;
    }
    form {
      margin: 0.2rem;
      input {
        border: 0.1rem solid #f294ad;
        border-radius: 0.2rem;
        outline: none;
        margin-bottom: 0.2rem;
        padding: 0.5rem 1rem;
      }
      button {
        background-color: $pinkMedium;
        color: $white;
        border: none;
        border-radius: 0.2rem;
        margin-bottom: 1rem;
        padding: 0.5rem 0.1rem;
        font-weight: 700;
        transition: 0.2s ease;
        &:hover {
          background-color: $pinkHigh;
        }
      }
    }
  }
}

/* main de tienda */
.tiendah1 {
  text-align: center;
  margin: 1rem;
  border-bottom-color: rgba(66, 66, 66, 0.5);
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 1rem;
}


// Contenedor tienda

.contendor-tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: .5rem;

  .card {
    display: flex;
    max-width: 10rem;

    img {
      width: 100%;
    }

    .card-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5px 10px;

      .card-name-precio {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h3 {
          font-weight: 400;
          font-size: 17px;
        }

        h4 {
          font-weight: 500;
          font-size: 15px;
        }
      }

      
    }.card-button {
        border: none;
        font-weight: 500;

        &:hover {
          color: $pinkHigh;
        }
      }
  }
}

//Carrito

.cart {
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;

  svg {
    display: flex;
  }

  #contadorCarrito {
    margin-left: 0.2rem;
  }

  div {
    div h4 {
      margin: 0rem !important;
    }

    div {
      flex-grow: 0;
      margin-bottom: 1rem;

      .cart-card {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 10px;

        .cart-info-box {
          display: flex;
          margin-bottom: 0;
          .cart-info-product{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 0;
            h5{
              margin-bottom: 0;
            }
            h6{
              margin-bottom: 0;
            }
            p{
              margin-bottom: 0;
            }
          }

          img {
            width: 4rem;
            height: 5rem;
            margin-right: 0.5rem;
          }
        }

        .cart-buttons {
          margin-bottom: 0;
          button {
            margin-left: 0.5rem;
            border: none;
            padding: 0.2rem 0.6rem;
          }

          .cart-button-delate {
            border-radius: .1rem;
            background-color: rgb(245, 67, 67);
            color: $white;
          }
        }
      }
    }

    .totalCart {
      padding: 1rem;
      margin-bottom: 0rem;
    }

    .cart-button-clean button {
      border: none;
      border-radius: .1rem;
      color: $white;
      background-color: rgb(57, 182, 255);
    }

    #vaciarCart {
      padding: 0.2rem 0.5rem;
      margin: 0rem 1rem;
    }
  }
}

.notFound {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  h2 {
    color: $pinkHigh;
    font-weight: 600;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .header {
    nav {
      div {
        .tituloNav {
          left: 3rem;
        }
      }
    }
  }
}

