* {
  padding: 0%;
  margin: 0%;
}

.fuente {
  font-family: "Jost", sans-serif;
}

.fuenteSecundaria {
  font-family: "EB Garamond", serif;
}

.navIcon svg {
  color: rgb(39, 39, 39);
}

.navIcon svg:hover {
  color: #F294AD;
}

.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
  color: rgba(0, 0, 255, 0) !important;
}

.navbar-toggler {
  padding: 0.25rem 0rem !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem !important;
}

.toastify {
  font-family: "Jost", sans-serif;
}

/* Header y Nav */
.header {
  background-color: rgba(255, 255, 255, 0.705);
}
.header nav div .tituloNav {
  position: absolute;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  top: 0.6rem;
  color: #262626;
  font-weight: 700;
}

.hero div {
  background-image: url(../assets/images/sand.jpg);
  background-size: cover;
  height: 30rem;
}
.hero div h1 {
  font-weight: 700;
  color: #FCFCFC;
  text-shadow: 3px 3px 5px #262626;
}
.hero div a {
  text-decoration: none;
  font-weight: 700;
  color: #F294AD;
  background-color: #FCFCFC;
  padding: 0rem 0.4rem;
  border-radius: 0.2rem;
  transition: 0.2s ease;
}
.hero div a:hover {
  color: #F2668B;
  box-shadow: 0px 0px 10px #F294AD;
}

.galery {
  margin-top: 0.5rem;
  padding: 0.5rem;
  color: #F2668B;
}
.galery p {
  margin-top: 1rem;
  font-weight: 600;
}
.galery .images img {
  width: 48%;
  margin: 0.1rem;
  border-radius: 0.1rem;
}

.frequentQuestions {
  margin-top: 1rem;
  padding: 1rem;
  background: #F2668B;
  color: #FCFCFC;
}
.frequentQuestions p {
  font-weight: 600;
}

footer .contact {
  color: #F2668B;
  padding: 2rem;
}
footer .contact p {
  font-weight: 600;
}
footer .contact div a {
  text-decoration: none;
  margin-right: 1rem;
  width: 2rem;
}
footer .contact div a:last-child {
  margin-right: 0;
}
footer .newLetter p {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
  color: #F2668B;
}
footer .newLetter form {
  margin: 0.2rem;
}
footer .newLetter form input {
  border: 0.1rem solid #f294ad;
  border-radius: 0.2rem;
  outline: none;
  margin-bottom: 0.2rem;
  padding: 0.5rem 1rem;
}
footer .newLetter form button {
  background-color: #F294AD;
  color: #FCFCFC;
  border: none;
  border-radius: 0.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.1rem;
  font-weight: 700;
  transition: 0.2s ease;
}
footer .newLetter form button:hover {
  background-color: #F2668B;
}

/* main de tienda */
.tiendah1 {
  text-align: center;
  margin: 1rem;
  border-bottom-color: rgba(66, 66, 66, 0.5);
  border-bottom-style: solid;
  border-bottom-width: thin;
  padding-bottom: 1rem;
}

.contendor-tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5rem;
}
.contendor-tienda .card {
  display: flex;
  max-width: 10rem;
}
.contendor-tienda .card img {
  width: 100%;
}
.contendor-tienda .card .card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}
.contendor-tienda .card .card-info .card-name-precio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contendor-tienda .card .card-info .card-name-precio h3 {
  font-weight: 400;
  font-size: 17px;
}
.contendor-tienda .card .card-info .card-name-precio h4 {
  font-weight: 500;
  font-size: 15px;
}
.contendor-tienda .card .card-button {
  border: none;
  font-weight: 500;
}
.contendor-tienda .card .card-button:hover {
  color: #F2668B;
}

.cart {
  display: flex;
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
}
.cart svg {
  display: flex;
}
.cart #contadorCarrito {
  margin-left: 0.2rem;
}
.cart div div h4 {
  margin: 0rem !important;
}
.cart div div {
  flex-grow: 0;
  margin-bottom: 1rem;
}
.cart div div .cart-card {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cart div div .cart-card .cart-info-box {
  display: flex;
  margin-bottom: 0;
}
.cart div div .cart-card .cart-info-box .cart-info-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;
}
.cart div div .cart-card .cart-info-box .cart-info-product h5 {
  margin-bottom: 0;
}
.cart div div .cart-card .cart-info-box .cart-info-product h6 {
  margin-bottom: 0;
}
.cart div div .cart-card .cart-info-box .cart-info-product p {
  margin-bottom: 0;
}
.cart div div .cart-card .cart-info-box img {
  width: 4rem;
  height: 5rem;
  margin-right: 0.5rem;
}
.cart div div .cart-card .cart-buttons {
  margin-bottom: 0;
}
.cart div div .cart-card .cart-buttons button {
  margin-left: 0.5rem;
  border: none;
  padding: 0.2rem 0.6rem;
}
.cart div div .cart-card .cart-buttons .cart-button-delate {
  border-radius: 0.1rem;
  background-color: rgb(245, 67, 67);
  color: #FCFCFC;
}
.cart div .totalCart {
  padding: 1rem;
  margin-bottom: 0rem;
}
.cart div .cart-button-clean button {
  border: none;
  border-radius: 0.1rem;
  color: #FCFCFC;
  background-color: rgb(57, 182, 255);
}
.cart div #vaciarCart {
  padding: 0.2rem 0.5rem;
  margin: 0rem 1rem;
}

.notFound {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.notFound h2 {
  color: #F2668B;
  font-weight: 600;
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .header nav div .tituloNav {
    left: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
